<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>JewCal</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
        <link rel="stylesheet" href="../static/css/main.css" type="text/css">
    </head>

    <body>
        <div class="container">
            <h1>METEOGRAM</h1>
            <h2>
                <span th:text="'Dnes je: ' + ${meteo}"></span>
            </h2>
            <br/>
            <h3>Nejbližší svátek bude:</h3>
            <br/>
            <h3>..a bude se konat dne:</h3>
            <br/>
        </div>
        <!--        
            <div class="navigation">
                    <nav>
                        <ul class = "obsah">
                            <a class="myButton" id="btn1" href="svatky.html">Přejít na Svátky</a>
                        </ul>
                    </nav>
            </div>
        -->
    </body>
</html>